</!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Say Hello</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
	<img  src="https://raw.githubusercontent.com/one2pret/Data-Visualisasi-TipeGunungApi/main/image/adventuretext.jpg"  width=20%>
	<br>
	<form action="greet" method="post">
		{% for message in get_flashed_messages()%}
		<p>{{message}}</p>
		{% endfor %}
		<br>
		<input type="text" name="name_input">
		<br>
		<input type="submit" name="GREET" id="greet">


	</form>
</body>
</html> 